<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lukas.ncsmusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alanWalkerPlay"
            android:parentActivityName=".MainActivity"
            android:label="@string/playing" />
        <activity
            android:name=".aeroChordPlay"
            android:parentActivityName=".MainActivity"
            android:label="@string/playing" />
        <activity
            android:name=".alanWalkerInfo"
            android:parentActivityName=".alanWalkerPlay"
            android:label="@string/Information" />
        <activity
            android:name=".aeroChordInfo"
            android:parentActivityName=".aeroChordPlay"
            android:label="@string/Information" />
    </application>

</manifest>